.grid {
    display: grid;
}

.container {
    max-width: 1265px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
}
.section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media screen and (max-width:1023px){
    .section__heading {
        width: 80%;
    }
}