.about {
    &__container {
        grid-template-columns: repeat(3,1fr);
        gap: 4rem;
    }
    &__heading {
        text-align: center;
        width: 75%;
        margin: 0 auto 5rem;
    }
    &__subtitle {
        font-size: var(--p-font-size-small);
        text-transform: uppercase;
        color:var(--title-color);
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    &__desc {
        margin-bottom: 2rem;
    }
    &__card {
        position: relative;
        &-image {
            overflow: hidden;
            img {
                transition: all .3s ease-out;
            }
        }
        &-image:hover img {
            transform: scale(1.1);
        }
        &-text {
            padding: 2rem;
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        &-title {
            font-size: var(--h3-font-size);
            font-family: var(--font-family-body);
            margin-bottom: 1rem;
            font-weight: 500;
        }
        &-desc {
            font-size: var(--h6-font-size);
            font-family: var(--font-family-body);
            font-style: italic;
            font-weight: 600;
        }
    }
}