
.categary {
    background-color: var(--primary-color-100);
    padding: 4rem 0rem 5rem;
    &__container {
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
    }
    &__item {
        text-align: center;
        color: var(--white-color);
    }
    &__icon {
        width: 9.5rem;
        height: 9.5rem;
        margin:0 auto 1rem;
        border-radius: 50%;
        background-color: var(--secondary-color);
        @include flex(center,center);
        img {
            width: 4rem;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-family: var(--font-family-body);
        margin: 0.5rem 0;
    }
    &__subtitle {
        font-size: 1.7rem;
        font-weight: 400;
    }
}